html,body {margin:0;padding:0}
body {
    font-family: helvetica,arial,sans-serif;
    line-height:1.4;
    background: #fff;
    color: #333;
}

p {margin:10px :0;}
h1, h2, h3, h4, h5, h6 {line-height: 1.0;}

div#header {
    width: 50%;
    height: 150px;
    margin: 20px auto;
    font-weight: bold; text-align: center;
    background: -webkit-gradient(linear, left top, right top, from(#483d8b), to(#6a5acd));
    background: -webkit-linear-gradient(top, #6a5acd, #483d8b);
    background: -moz-linear-gradient(top, #6a5acd, #483d8b);
    background: -o-linear-gradient(top, #6a5acd, #483d8b);
    background: -ms-linear-gradient(top, #6a5acd, #483d8b);
    background: linear-gradient(top, #6a5acd, #483d8b);
    background-color: #483d8b;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px #999;
    -moz-box-shadow: 2px 2px 2px #999;
    -o-box-shadow: 2px 2px 2px #999;
    -ms-box-shadow: 2px 2px 2px #999;
    box-shadow: 2px 2px 2px #999;
}

div#header h1{margin: 0; padding: 10px;}
div#header a{text-decoration: none; color: #fff;}
div#header img {max-width: 100%; height: auto;}

div#navigation ul{padding: 0px 10px; margin: 0px; list-style-type: none;}

p.error {color: red;}
div.formfield{margin: 5px 0 10px 0; padding: 5px 0 10px 0;}
div.title {font-weight: bold;}
div.required {font-style: italic;}

@media screen and (min-width:600px) {
    #container {
        position: relative;
        max-width: 1000px;
        margin: 0 auto;
    }
    #body {
        position: relative;
    }
    #navigation {
        position: absolute;
        top: 0;
        left 0;
        width: 20%;
        padding-left: 10px;
        border-right: 2px solid #999;
    }
    #content {
        margin-left: 22%;
        padding: 7px;
        width: 80%;
    }
}
@media screen and (max-width:599px) {
    #navigation {
        padding: 5px;
        border-top: 2px solid #999;
    }
    #navigation li {
        display: inline;
    }
}
@media print {
    #header, #navigation {
        display: none;
    }
}
