<!DOCTYPE html> 
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="style.css" title="style" />
<link rel="stylesheet" type="text/css" href="mobile.css" title="mobile" />
</head>
<body>
<div id="container">
<div id="secondary">
<!-- begin secondary -->
<!-- begin newsdata sort="-id" -->
<!-- begin data -->
<!-- set id [[]] -->
<!-- set time [[]] -->
<h3><!-- begin title -->
<!-- end title --></h3>
<p><!-- begin body -->
<!-- end body --></p>
<div><!-- begin url -->
<!-- end url --></div>
<!-- end data -->
<!-- end newsdata -->
<!-- end secondary -->
</div>
</div>
</body>
</html>
