<!DOCTYPE html> 
<html lang="en">
<meta charset=utf-8" />
<!-- begin meta -->
<!-- set title [[]] -->
<!-- set base_url [[]] -->
<base href="{{base_url}}" />
<title>{{title}}</title>
<meta name="robots" content="index, follow" />
<!-- end meta -->
<link rel="stylesheet" type="text/css" href="style.css" title="style" />
</head>
<body>
<div id ="container">
<div id="primary">
<!-- begin primary type="blog" -->
<h1><!-- begin title valid="&" -->
<!-- end title --></h1>
<!-- begin body valid="&html" style="rows=10;cols=80" -->
<!-- end body -->
<!-- end primary -->
<!-- begin secondary type="post" -->
<!-- begin data -->
<!-- end data -->
<!-- end secondary -->
</div>
<div id="navigation">
<ul>
<!-- begin parentlinks -->
<!-- begin data -->
<!-- set id [[]] -->
<!-- set url [[]] -->
<li><a href="{{url}}" class="{{class}}"><!-- begin title -->
<!--end title --></a></li>
<!-- end data -->
<!-- end parentlinks -->
<!-- begin dirlinks -->
<!-- begin data -->
<!-- set id [[]] -->
<!-- set url [[]] -->
<li><a href="{{url}}" class="{{class}}"><!-- begin title -->
<!--end title --></a></li>
<!-- end data -->
<!-- end dirlinks -->
<!-- begin pagelinks -->
<!-- begin data -->
<!-- set id [[]] -->
<!-- set url [[]] -->
<li><a href="{{url}}" class="{{class}}"><!-- begin title -->
<!--end title --></a></li>
<!-- end data -->
<!-- end pagelinks -->
</ul>
<ul>
<!-- begin commandlinks -->
<!-- begin data -->
<!-- set id [[]] -->
<!-- set url [[]] -->
<li><a href="{{url}}"><!-- begin title -->
<!--end title --></a></li>
<!-- end data -->
<!-- end commandlinks -->
</ul>
</div>
</div>
</body>
</html>
