<html>
<head>
<!-- begin meta -->
<!-- end meta -->
</head>
<body>
<div id = "container">
<div  id="content">
<!-- begin primary -->
<!-- end primary -->
<!-- begin secondary type="post" sort="-id" -->
<!-- begin data -->
<h1><!-- begin title valid="&" -->
<!-- end title --></h1>
<!-- set id [[]] -->
<p><!-- begin body valid="&html" style="rows=10;cols=80" -->
<!-- end body --></p>
<p><a href="{{url}}"><!-- with date -->{{day}}
{{month}} {{year}}<!-- end date --></a></p>
<!-- end data -->
<!-- end secondary -->
</div>
<div id="sidebar">
<ul>
<!-- begin pagelinks -->
<!-- begin data -->
<!-- set id [[]] -->
<!-- set url [[]] -->
<li><a href="{{url}}"><!-- begin title -->
<!--end title --></a></li>
<!-- end data -->
<!-- end pagelinks -->
</ul>
<ul>
<!-- begin commandlinks -->
<!-- begin data -->
<li><a href="{{url}}"><!-- begin title -->
<!--end title --></a><!-- set url [[]] --></li>
<!-- end data -->
<!-- end commandlinks -->
</ul>
</div>
</div>
</body>
</html>
