<!DOCTYPE html> 
<html lang="en">
<meta charset=utf-8" />
<!-- begin meta -->
<title><!-- begin title -->
<!-- end title --></title>
<meta name="robots" content="index, follow" />
<!-- end meta -->
<link rel="stylesheet" type="text/css" href="style.css" title="style" />
<link rel="stylesheet" type="text/css" href="mobile.css" title="mobile" />
</head>
<body bgcolor=\"#ffffff\">
<div id ="container">
<div id="header">
<ul>
<!-- begin toplinks -->
<!-- begin data -->
<!-- set id [[]] -->
<!-- set url [[]] -->
<li><a href="{{url}}"><!--begin title -->
<!-- end title --></a></li>
<!-- end data -->
<!-- end toplinks -->
</ul>
</div>
<div id="primary">
<!-- begin primary -->
<!-- begin dirdata -->
<h1><!-- begin title valid="&" -->
<!-- end title --></h1>
<!-- begin body required valid="&html" style="rows=20;cols=80" -->
<!-- end body -->
<div><!-- begin author -->
<!-- end author --></div>
<!-- end dirdata -->
<!-- end primary -->
</div>
<div id="navigation">
<ul>
<!-- begin parentlinks -->
<!-- begin data -->
<!-- set url [[]] -->
<li><a href="{{url}}"><!-- begin title -->
<!--end title --></a></li>
<!-- end data -->
<!-- end parentlinks -->
</ul>
<ul>
<!-- begin commandlinks -->
<!-- begin data -->
<!-- set url [[]] -->
<li><a href="{{url}}"><!-- begin title -->
<!--end title --></a></li>
<!-- end data -->
<!-- end commandlinks -->
</ul>
</div>
</div>
</body>
</html>
