<html>
<head>
<!-- begin meta -->
<!-- set title [[]] -->
<!-- set base_url [[]] -->
<base href="{{base_url}}" />
<title>{{title}}</title>
<meta name="robots" content="noindex, follow" />
<!-- end meta -->
</head>
<body>
<div id = "container">
<div  id="content">
<!-- begin primary -->
<h1><!-- begin title -->
<!-- end title --></h1>
<!-- end primary -->
<!-- begin secondary type="post" -->
<!-- begin data -->
<h2><!-- begin title -->
<!-- end title --></h2>
<!-- set id [[]] -->
<!-- set url [[]] -->
<p><!-- begin summary -->
<!-- end summary -->
<a href="{{url}}">More</a></p>
<!-- end data -->
<!-- end secondary -->
</div>
<div id="sidebar">
<ul>
<!-- begin parentlinks -->
<!-- begin data -->
<!-- set id [[]] -->
<!-- set url [[]] -->
<li><a href="{{url}}"><!-- begin title -->
<!--end title --></a><!-- set url [[]] --></li>
<!-- end data -->
<!-- end parentlinks -->
<!-- begin pagelinks -->
<!-- end pagelinks -->
</ul>
</div>
</div>
</body>
</html>
