<!DOCTYPE html> 
<html lang="en">
<meta charset=utf-8" />
<!-- begin meta -->
<title><!-- begin title -->
<!-- end title --></title>
<meta name="robots" content="index, follow" />
<!-- end meta -->
<link rel="stylesheet" type="text/css" href="style.css" title="style" />
<link rel="stylesheet" type="text/css" href="mobile.css" title="mobile" />
</head>
<body bgcolor=\"#ffffff\">
<div id ="container">
<div id="primary">
<!-- begin primary -->
<!-- begin pagedata -->
<h1><!-- begin title valid="&" -->
<!-- end title --></h1>
<!-- begin body valid="&" -->
<!-- end body -->
<!-- end pagedata -->
<!-- end primary -->
</div>
<div id="navigation">
<ul>
<!-- begin pagelinks -->
<!-- begin data -->
<!-- set url [[]] -->
<li><a href="{{url}}"><!-- begin title -->
<!--end title --></a></li>
<!-- end data -->
<!-- end pagelinks -->
</ul>
<ul>
<!-- begin commandlinks -->
<!-- begin data -->
<!-- set url [[]] -->
<li><a href="{{url}}"><!-- begin title -->
<!--end title --></a></li>
<!-- end data -->
<!-- end commandlinks -->
</ul>
</div>
</div>
</body>
</html>
