<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- begin meta -->
<base href="{{base_url}}" />
<title>{{title}}</title>
<!-- end meta -->
<link rel="stylesheet" type="text/css" href="style.css" title="style" />
<link rel="stylesheet" type="text/css" href="mobile.css" title="mobile" />
</head>
<body>
<div id="container">
<div id="primary">
<!-- begin primary -->
<h1>{{title}}</h1>

<p class="error">{{error}}</p>

<p class="summary">{{summary}}</p>

<!-- with form -->
<form id="edit_form" method="post" action="{{url}}" enctype="{{encoding}}">
<!-- with hidden -->
<!-- with field --><!-- end field -->
<!-- end hidden -->
<div><!-- with buttons -->
<!-- with field --><!-- end field -->
<!-- end buttons --></div>
</form>
<!--end form -->
<!--end primary -->
</div>
<div id="navigation">
<ul>
<!-- begin commandlinks -->
<!-- with data -->
<li><a href="{{url}}">
<!-- with title --><!-- end title -->
</a></li>
<!-- end data -->
<!-- end commandlinks -->
</ul>
</div>
</div>
</body>
</html>
