<!DOCTYPE html> 
<html lang="en">
<head>
<!-- begin meta -->
<base href="{{base_url}}" />
<title>{{title}}</title>
<!-- end meta -->
<link rel="stylesheet" type="text/css" href="style.css" title="style" />
<link rel="stylesheet" type="text/css" href="mobile.css" title="mobile" />
</head>
<body>
<div id="container">
<div id="primary">
<!-- begin primary -->
<h1>{{title}}</h1>

<p class="error">{{error}}</p>

<!-- with form -->
<form id="edit_form" method="post" action="{{url}}" enctype="{{encoding}}">
<!-- with hidden -->
<!-- with field --><!-- end field -->
<!-- end hidden -->
<!-- with visible -->
<div class="title {{class}}">
<!-- with title --><!-- end title -->
</div>
<div class="formfield">
<!-- with field --><!-- end field -->
</div>
<!-- end visible -->
<div class="formfield"><!-- with buttons -->
<!-- with field --><!-- end field -->
<!-- end buttons --></div>
</form>
<!--end form -->

<!-- if data -->
<!-- with data -->
<h3 class="title">{{title}}</h3>
<p class="summary">{{summary}}
&nbsp;
<!-- with itemlink -->
<a href="{{url}}">{{title}}</a>
<!-- end itemlink --></p>
<!-- end data -->
<!-- end data -->

<!-- if paginglinks -->
<p><!-- with paginglinks -->
<!-- with data -->
<a href="{{url}}"><!-- with title -->
<!-- end title --></a>&nbsp;&nbsp;
<!-- end data -->
<!-- end paginglinks --></p>
<!-- end paginglinks -->
<!-- end primary -->
</div>
<div id="navigation">
<ul>
<!-- begin commandlinks -->
<!-- with data -->
<li><a href="{{url}}">
<!-- with title --><!-- end title -->
</a></li>
<!-- end data -->
<!-- end commandlinks -->
</ul>
</div>
</div>
</body>
</html>
