<!DOCTYPE html> 
<html lang="en">
<head>
<!-- begin meta -->
<!-- end meta -->
<link rel="stylesheet" type="text/css" href="style.css" title="style" />
<link rel="stylesheet" type="text/css" href="mobile.css" title="mobile" />
</head>
<body>
<div id="container">
<div id="primary">
<!-- begin primary -->
<!-- end primary -->
</div>
<div id="secondary">
<!-- begin secondary -->
<!-- end secondary -->
</div>
<div id="navigation">
<ul>
<!-- begin commandlinks -->
<!-- end commandlinks -->
</ul>
</div>
</div>
</body>
</html>
