<html>
<head>
<!-- begin meta -->
<!-- set title [[]] -->
<!-- set base_url [[]] -->
<base href="{{base_url}}" />
<title>{{title}}</title>
<meta name="robots" content="index, follow" />
<!-- end meta -->
</head>
<body>
<div id = "container">
<div  id="content">
<!-- begin primary -->
<h1><!-- begin title -->
<!-- end title --></h1>
<!-- end primary -->
<!-- begin secondary type="post" -->
<ul>
<!-- begin data -->
<!-- set id [[]] -->
<!-- set url [[]] -->
<li><a href="{{url}}">{{title}}</a></li>
<!-- end data -->
</ul>
<!-- end secondary -->
</div>
<div id="sidebar">
<ul>
<!-- begin parentlinks -->
<!-- begin data -->
<!-- set id [[]] -->
<!-- set url [[]] -->
<li><a href="{{url}}"><!-- begin title -->
<!--end title --></a><!-- set url [[]] --></li>
<!-- end data -->
<!-- end parentlinks -->
\<!-- begin dirlinks -->
<!-- end dirlinks -->
<!-- begin pagelinks -->
<!-- end pagelinks -->
</ul>
</div>
</div>
</body>
</html>
